extends layout

block content
  h2 #{title}
  h3 Trabajo Fin de Grado para la Escuela Polit&eacute;cnica de la Universidad Pablo de Olavide
  p Mi nombre es Manuel Ben&iacute;tez S&aacute;nchez, soy alumno del Grado Ingenier&iacute;a Inform&aacute;tica de la Universidad Pablo de Olavide.
  p Con este trabajo quiero explorar el mundo del An&aacute;lisis de datos masivos mediante el dise&ntilde;o y la implementaci&oacute;n de un sistema que monitorice y analice comentarios en internet, que mejor lugar donde encontrar comentarios para analizar que twitter.
  p Me voy a centrar en el an&aacute;lisis de sentimientos, estudiar la polaridad de la opini&oacute;n de los Tweets recogidos a tiempo real. El mayor reto al que nos enfrentamos es la clasificaci&oacute;n autom&aacute;tica e incluso manual de los Tweets seg&uacute;n la opini&oacute;n que pretenden transmitir, siendo hasta a veces dif&iacute;cil poner de acuerdo a dos personas sobre lo que trasmite un texto. Todo esto sumado a la variedad de idiomas que se pueden encontrar por internet, dialectos, argots, abreviaciones,etc.
  p Para ellos usaremos una de las tecnolog&iacute;as m&aacute;s punteras hoy en d&iacute;a, nodejs. Node.js es JavaScript, exactamente el motor V8 de Google. Node nos permite ejecutar en los navegadores c&oacute;digo, con ello nos ahorramos procesos en nuestro servidor, sum&aacute;ndole la rapidez de JavaScript que necesitamos para el an&aacute;lisis a tiempo real.

  img 