<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Monitorizar - Trabajo Fin de Grado de Manuel Benítez Sánchez</title>   
     
    <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>   
     
    <script src='/javascripts/modernizr-2.6.2.js'></script>   
     
</head>   
             
<body>
       
     <div class='navbar navbar-inverse navbar-fixed-top'>
           
         <div class='container'>
            <div class='navbar-header'>
                   
                 <button type='button' data-toggle='collapse' data-target='.navbar-collapse' class='navbar-toggle'>
                    <span class='icon-bar'></span>   
                     <span class='icon-bar'></span>   
                     <span class='icon-bar'></span>   
                  </button>
                <a href='/' class='navbar-brand'>Sentiment analytics on Twitter</a>
            </div>   
             <div class='navbar-collapse collapse'>
                 <ul class='nav navbar-nav'>      
                    <li><a href='/'>Home</a></li>   
                     
                    <li><a href='/about'>About</a></li>   
                     
                    <li><a href='/contact'>Contact</a></li>
                  </ul>   
                     
            </div>
        </div>
    </div>
    <div class='container body-content'>
            <h3>Pagina de monitorización y análisis</h3>   
             <p>
                En esta página introducimos ....<div class='container'>
                       
                     <div class='page-header'>
                        <h1>Sentiment Analytics </h1>   
                         
                    </div>   
                     
            <p>The Twittersphere is feeling</p>   
             <IMG align=\ middle\  src=\     sentimentImage()    \  /><br>\n    
             </button><a href='/reset' class='btn btn-primary'>monitorear otra frase</a>
        </div>   
     <footer><p>&copy; 2015 - Trabajo Fin de Grado de Manuel Benítez Sánchez</p></footer></div>   
     
    <script src='/javascripts/jquery-1.10.2.js'></script>
    <script src='/javascripts/bootstrap.js'></script>   
     
    <script src='/javascripts/respond.js'></script>
</body>
</html>